body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.orange{
    color: orange;
}
    
section{
    display: flex;
    margin-bottom: 150px;
    }

.container{
    width: 50%;
    padding: 20px;
}
.container p{
    padding-right: 100px;
    text-align: justify;
}
.button{
    text-decoration: none;
    color: white;
    font-weight: 700px;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 6px;

}
.container h1{
    font-size: 35px;
}
.container1 img{
    width: 80%;
    display: block;
}
.dream-big{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
